#question {
    font-size: 20px;
}

.choice-container {
        display: flex;
        margin-bottom: 5px;
        height: 100px;
        /* padding: 10px; */
        /* width: 50%; */
        border: 2px;
        background: rgb(18, 93, 255);
    }


.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    font-size: 20px;
    padding: 2rem 2.5rem;
    color: rgb(14, 13, 13);
}

.choice-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* //Heads up Display */ */
#hud {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}

.hud-prefix {
    text-align: center;
    font-size: 15px;
}


.hud-main-text {
    text-align: center;
}

.hud-item{
    /* display: flex;
    align-items: center; */
    /* display: inline-block; */
}

#progressBar {
    width: 100px;
    height: 48px;
    border: 8px solid rgb(11,223,36);
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}
