body {
    color:rgb(17, 19, 17)

}

<<<<<<< Updated upstream
=======
#question {
    font-size: 30px;

    
}

#score {
    font-size: 30px
}

>>>>>>> Stashed changes
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(97, 114, 192);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: progress;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:azure
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11,233,36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(163, 6, 19) 0%, rgb(126, 35, 57) 100%);
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(41, 54, 232);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(62, 49, 241);
    width: 0%;
}



@media  screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem
    }
}
